<mat-button-toggle-group #group="matButtonToggleGroup">
  <mat-button-toggle value="current">Текущие пациенты</mat-button-toggle>
  <mat-button-toggle value="archive">Архив</mat-button-toggle>
</mat-button-toggle-group>


<table mat-table [dataSource]="(group.value === 'archive') ? archieveDataSource : currentDataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="year/record">
      <th mat-header-cell *matHeaderCellDef> № </th>
      <td mat-cell *matCellDef="let element"> {{element.year}}/{{element.record_id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Имя пациента </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} {{element.last_name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="charge_date">
      <th mat-header-cell *matHeaderCellDef> Дата поступления </th>
      <td mat-cell *matCellDef="let element"> {{element.charge_date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="discharge_date">
      <th mat-header-cell *matHeaderCellDef> Дата выписки/смерти </th>
      <td mat-cell *matCellDef="let element"> {{element.discharge_date}} </td>
    </ng-container>

  <ng-container matColumnDef="icd10">
    <th mat-header-cell *matHeaderCellDef>{{(group.value === 'archive') ? 'Заключительный диагноз' : 'Текущий диагноз'}}</th>
    <td mat-cell matTooltip="Info about the action 
    Info about the action
     Info about the action" matTooltipPosition="right" 
     matTooltipClass="example-tooltip-red" *matCellDef="let element"> {{element.icd10}} </td>
  </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="(group.value === 'archive') ? displayedColumnsForArchive : displayedColumnsForCurrent"></tr>

    <tr mat-row *matRowDef="let row; columns: (group.value === 'archive') ? displayedColumnsForArchive : displayedColumnsForCurrent;"></tr>
  </table>
  
  
